*{
    margin: 0;
    padding: 0;
}

/* Navbar*/

nav {
    background-image: linear-gradient(to right, #00ffff, #00ccff , #0099ff, #00ccff, #00ffff);
}

.nav-link{
    font-family: sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
}

/* Section1 CSS*/

.sect1 {
    background-image: linear-gradient(to right, #00ffff, #00ccff , #0099ff, #00ccff, #00ffff);
    overflow-x:hidden;
}

.banner{
    margin:auto;
    padding-top: 5vh;
    padding-bottom: 4vh;
    font-size: 1.5rem;
    text-align: center;
}

.banner img{
    height: 45vh;
    width: 45vh;
}

#s1 .wave{
    margin-left: -5%;
    width: 110%;
}

/* Section2 CSS */

#s2{
    background-color: white;
}

.sect2{
    text-align: center;
    margin:auto;
}

.header h1{
    font-size: 4rem;
    font-weight: 700;
    text-decoration: underline;
    padding:5vh;
}

.about p{
    font-size: 1.5rem;
    padding-top: 3vh;
}

.about img{
    height:40vh;
    width:45vh;
}

/* Section3 CSS*/

#s3{
    padding-top:15%;
}

#s3 .card{
    text-align: center;
    height: 25vh;
}


/* Section4 CSS */

#s4{
    padding:15% 0;
}

#s4 h1{
    text-align: center;
    font-size: 4rem;
    text-decoration: underline;
    padding: 7vh 0;
}

.carousel{
    margin: auto;
}

/* Section5 CSS */

#s5{
    text-align: center;
}

#s5 h1{
    font-size: 4rem;
    text-decoration: underline;
    padding: 0 0 12vh;
}

#s5 i{
    font-size: 20vh;
    padding: 2vh;
}

.fa-instagram{
    color:#e4405f;
}

.fa-facebook{
    color:#3b5999;
}

.fa-twitter{
    color:#55acee;
}

.fa-linkedin-in{
    color:#0077B5;
}

.fab:hover{
    color:#8585ad;
}

/* Section6 CSS */

#s6{
    padding: 15% 0 5%;
}

#s6 .avatar img{
    height: 50vh;
    width: 50vh;
}

#s6 h1{
    font-size: 4rem;
    text-decoration: underline;
    padding-bottom:10vh;
}

.form label{
    font-size: 2rem;
    font-weight: 700;
    padding:2rem 0;
}

.form .button{
    padding-top: 1rem;
}

/* Footer */

footer{
    background-image: linear-gradient(to right, #00ffff, #00ccff , #0099ff, #00ccff, #00ffff);
    text-align: center;
    overflow-x:hidden;
}

.wave2{
    margin-left:-5%;
    width: 110%;
    
}

footer h1{
    text-decoration: underline;
    padding-bottom: 5vh;
}

footer p{
    font-size: 1.5rem;
}