*{
    margin: 0;
    padding: 0;
}

/* Navbar*/

nav {
    background-image: linear-gradient(to right, #00ffff, #00ccff , #0099ff, #00ccff, #00ffff);
}

.nav-link{
    font-family: sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
}

/* Section1 CSS*/

.sect1 {
    background-image: linear-gradient(to right, #00ffff, #00ccff , #0099ff, #00ccff, #00ffff);
}

.banner{
    margin:auto;
    padding-top: 5vh;
    padding-bottom: 4vh;
    font-size: 2vh;
    text-align: center;
}

.banner img{
    height: 45vh;
    width: 45vh;
}

/* Section2 CSS */

#s2{
    height:80vh;
    background-color: white;
}

.sect2{
    text-align: center;
    margin:auto;
}

.header h1{
    font-size: 5vh;
    font-weight: 700;
    text-decoration: underline;
    padding:5vh;
}

.about p{
    font-size: 2vh;
    padding-top: 3vh;
}

.about img{
    height:40vh;
    width:45vh;
}

/* Section3 CSS*/

#s3{
    height: 50vh;
    background-image: linear-gradient(to right, #00ffff, #00ccff , #0099ff, #00ccff, #00ffff);;
}

/* Section4 CSS */

#s4{
    margin-top: -18vh;
}

#s4 .card{
    text-align: center;
    height: 25vh;
}

/* Section5 CSS */

#s5{
    margin:15vh 0vh;
}

.carousel{
    margin: auto;
}